---
const projects = [
  {
    title: "UNB Swim Website",
    imagePath: "/photos/R2EDSSITE.png",
    description: "I currently manage & maintain the professional site for the UNB REDS swim team, this includes frequent updates on events & roster changes, along with strictly following the REDS posting protocols",
    link: "https://www.unbswimming.ca"
  },
  {
    title: "Python File Transfer",
    imagePath: "/photos/AirDrop.png",
    description: "I created a Python based file transfer software using pypng and pyqrcode imports. It was developed using flask and is currently able to transfer png and pdf files between any 2 devices.",
    link: "https://github.com/BillSteinUNB/WebFileTransfer"
  },
  {
    title: "Weather App Api",
    imagePath: "/photos/WeatherWizard.png",
    description: "This was a class final project where I used API calls to make a weather App, it is a Kotlin app and was my first time using Android Studio.",
    link: "https://www.https://github.com/BillSteinUNB/WeatherWizardApp.com"
  },
  {
    title: "Unity Game Project",
    imagePath: "/photos/ShadowNavigators.png",
    description: "This is a Top down puzzle game made by me and two groupmates. This was built using only Unity I was mainly responsible for game physics, colliders and puzzle design.",
    link: "https://https://github.com/BillSteinUNB/Bill-Stein-Game.google.com"
  },
  {
    title: "Project 5",
    imagePath: "/path/to/image2.jpg",
    description: "Description for Project 2",
    link: "https://www.google.com"
  },
  {
    title: "Project 6",
    imagePath: "/path/to/image2.jpg",
    description: "Description for Project 2",
    link: "https://www.google.com"
  },
  
];
---



<header>
    <script type="module" src="https://cdn.jsdelivr.net/npm/three@0.157.0/build/three.js"></script>
    <script type = "module" src="/Scripts/StarryBackground.js" is:inline></script>
    <link rel="stylesheet" type ="text/css" href="/Scripts/stylesProject.css"> <!-- Link to the CSS file -->
    
    
    
      <nav>
        <a href="/" class = 'index'>HOME</a>
        <a href="/about" class = "about">ABOUT</a>
      </nav>
      <div class="social-media">
    
        <a href="https://www.linkedin.com/in/billstein3714982">
          <img src="/photos/linkedin.png" alt="LinkedIn" width="40" height="40">
      </a>
      <a href="https://github.com/BillSteinUNB">
        <img src="/photos/github.png" alt="Github" width="40" height="40">
        <a href="mailto:billsteinm03@gmail.com">
          <img src="/photos/gmail.png" alt="Email" width="40" height="40">
      </a>
        <a href="/Bill Stein Resume.pdf" download>
          <img src="/photos/Resume.png" alt="Download PNG" width="40" height="40">
      </a>
      </div>
    </header>
    
    <main>
      <h1>MY PROJECTS</h1>


      <section class="projects-section">
        <div class="grid-container">
            {projects.map(project => (
                <div class="grid-item project-card">
                    <h2 class="project-title">{project.title}</h2>
                    <div class="project-image">
                      <a href={project.link}>
                        <img src={project.imagePath} alt={project.title} />
                      
                        </div>
                    <p class="project-description">{project.description}</p>
                  </a>
                </div>
            ))}
        </div>
    </section>
    
    
    </main>

<!-- Random Shrink Script which took way too many hours -->
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          const projectCards = document.querySelectorAll('.grid-item');
  
          projectCards.forEach(card => {
              card.addEventListener('mouseover', function() {
                  projectCards.forEach(c => {
                      if (c !== card) {
                          c.classList.add('shrink');
                      }
                  });
              });
  
              card.addEventListener('mouseout', function() {
                  projectCards.forEach(c => c.classList.remove('shrink'));
              });
          });
      });
  </script>
  
    

    
  
    